/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

* {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin: 0% 10%;
    font-size: 3vw;
    color: white;
    text-shadow: -.1em .1em black;

}

html {
    margin: unset;
}

body{
    border: 1em solid white;
    min-height:100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2em;
    background: sienna;
}

#stats{
    padding: 0;
    margin: 0;
    width:100%;
    height: 1em;
    flex-shrink: 0;
}

#game {
    display:flex;
    flex-direction: column;
    height:100%;
    min-height: 75vh;
    gap: 3em;
    justify-content: center;
}

#emojiContainer {
    margin: unset;
    padding: unset;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

button {
    width:100%;
    font-size: 5vw;
    text-align: center;
    min-height: 3em;
    padding: unset;
    margin: unset;
    border: .25em solid white;
    box-shadow: -10px 10px black;
    touch-action: manipulation;
}

button:active {
    transform: translateY(6px)
}


h1{
    margin: unset;
}

textarea {
    width:100%;
    font-size: 4vw;
    text-align: left;
    padding: 0 1em;
    padding-top: 1em;
    border: .25em solid white;
    text-shadow: none;
    color:black;
    box-shadow: -10px 10px black;
    resize:none;

}
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

.smallInput {
    min-height: 3em;
}

.bigInput {
    min-height: 7em;
}

.submit {
    background-color: rgb(11, 0, 207);
    
}

.connect {
    background-color: rgb(11, 0, 207);
}

.emoji {
    width: 20%;
    font-size: 8vw;
    background-color: rgb(11, 0, 207);
    padding-bottom: .25em;
    min-height: unset;
}

.disabled{
    background-color:lightgray;
    transition: 0.9s;
}


.pulsate{
    color:red;
    font-size: 4vw;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.missedInput{
    border: 5px solid red;
}

/* Desktop */
@media (min-width: 600px) {
  }
  