:root {
    --fontFamily: 'Press Start 2P',
        cursive;
    --fontSize: 3vw;
    --textColor: white;
    --backgroundColor:slategrey;
    --buttonColor:rgb(11, 0, 207);
    --placeholderColor:slategrey;
    --textShadowColor: -.1em .1em black;
    --backgroundShadowColor: -10px 10px black;
    --borderRadius: 0em;
    --gap: 3em;
}

  /******************************************
  /* LAYOUT
  /*******************************************/

* {
    box-sizing: border-box;
    text-align: center;
    font-family: var(--fontFamily);
    margin: 0% 10%;
    font-size: var(--fontSize);
    color: var(--textColor);
    text-shadow: var(--textShadowColor);
    border-radius: var(--borderRadius);

}

html {
    margin: unset;
}

body{
    border: 1em solid white;
    min-height:100dvh;
    max-height:100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--backgroundColor);
}

.stats{
    margin: 0;
    padding: 1em 0;
    width:100%;
    min-height: 1em;
    flex-shrink: 0;
}

h3, h4 {
    padding: .25em 0;
}

.game {
    display:flex;
    flex-direction: column;
    height:100%;
    min-height: 75vh;
    gap: var(--gap);
    justify-content: center;
}

.diceContainer {
    margin: unset;
    padding: unset;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

button {
    width:100%;
    font-size: 5vw;
    text-align: center;
    min-height: 3em;
    padding: unset;
    margin: unset;
    border: .15em solid white;
    box-shadow: var(--backgroundShadowColor);
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button:active {
    transform: translateY(6px)
}

h1{
    margin: unset;
}

textarea {
    width:100%;
    font-size: var(--fontSize);
    text-align: left;
    padding: 0 1em;
    padding-top: 1em;
    border: .25em solid white;
    text-shadow: none;
    color:black;
    box-shadow: var(--backgroundShadowColor);
    resize:none;

}

textarea::placeholder {
    color: var(--placeholderColor)
}
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

.smallInput {
    min-height: 3em;
}

.bigInput {
    min-height: 7em;
}

.submit {
    background-color: var(--buttonColor);
    
}

.connect {
    background-color: var(--buttonColor);
}

.dice {
    width: 20%;
    font-size: 8vw;
    background-color: var(--buttonColor);
    min-height: unset;
    border: .10em solid white;
}

.disabled{
    background-color:lightgray;
    transition: 0.9s;
}

.pulsate{
    color:red;
    font-size: 4vw;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.missedInput{
    border: 5px solid red;
}
