/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

* {
    text-align: center;
    font-family: monospace;
    margin: 0% 3%;
    font-size: 4vw;
}

body{
    height: 80vh; 
    /* pixel phone using chrome, keyboard squashes smooshes the UI */
    /* figure out how to not smoosh*/
}

#stats{
    padding: 0;
    margin: 0;
}

#game {
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-around;
}

#emojiContainer {
    margin: unset;
    padding: unset;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

button {
    width:100%;
    min-height: 150px;
    font-size: 5vw;
    text-align: center;
}

button:active {
    background-color: lightgray;
}


h1{
    margin: 0;
}

  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

.smallInput {
    width:100%;
    min-height: 150px;
    font-size: 5vw;
    border: 1px solid black;
    text-align: left;
    padding: 0 1em;
    padding-top: 1em;
}

.bigInput {
    width:100%;
    min-height: 150px;
    font-size: 5vw;
    border: 1px solid black;
    text-align: left;
    padding: 0 1em;
    padding-top: 1em;

}

.submit {
    border: none;
    background-color: greenyellow;
    color: black;
}

.connect {
    border: none;
    background-color: greenyellow;
    color: black;
}

.create {
    border: none;
    background-color: greenyellow;
    color: black;
}

.catchphrase {
    border: none;
    background-color:aqua;
    color: black;
}


.emoji0 {
    width: 20%;
    min-height: 150px;
    font-size: 8vw;
    border: none;
    background-color: white;
    text-align: center;
    margin:unset;
}

.emoji1 {
    width: 20%;
    min-height: 150px;
    font-size: 8vw;
    border: none;
    background-color: white;
    text-align: center;
    margin:unset;
}

.emoji2 {
    width: 20%;
    min-height: 150px;
    font-size: 8vw;
    border: none;
    background-color: white;
    text-align: center;
    margin:unset;
}

.emoji3 {
    width: 20%;
    min-height: 150px;
    font-size: 8vw;
    border: none;
    background-color: white;
    text-align: center;
    margin:unset;
}

.disabled{
    background-color:lightgray;
    transition: 0.9s;
}


.pulsate{
    color:red;
    font-size: 5vw;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

.missedInput{
    border: 5px solid red;
}