/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

* {
    text-align: center;
    font-family: monospace;
    margin: 0% 10%;
    font-size: 4vw;
}

html, body{
    display:flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
    overflow: hidden;
}

button, textarea {
    width:100%;
    min-height: 150px;
    font-size: 5vw;
}

textarea{
    border: 1px solid black;
    text-align: left;
}

  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
.submit {
    border: none;
    background-color: greenyellow;
    color: black;
}


.submit:disabled{
    background-color:lightgray;
    transition: 0.9s;
}
